.vscode/*
*.pyc
*.egg-info
activate
experiments/*.zip
experiments/segmentation_export*
morphocut/static/datasets/*
morphocut/server/static/datasets/*
experiments/results
morphocut/server/static/*
htmlcov/*
.coverage
